
<html>
	<head>
	    <meta charset="UTF-8">
		<title>
		Bird App
		</title>
		<link rel="stylesheet" href="../app.css" type="text/css"/>
		 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

	</head>
	<body>
		
		
		<header>
			<div class="container">
				<img src="/eagle_.png" alt="logo" style="height: 95; float: left; padding-right: 0px;">
				<div id="branding">
					<h1><span class="highlight">BIRD</span> APP</h1>
				</div>
				<nav>
					<ul>
					  <li class="current"><a href="/">Home</a></li>
					  <li><a href="/userpage">User's</a></li>
					  <li><a href="/adduser">Add User</a></li>
					</ul>
				</nav>
			</div>
				  <br>
		</header>
		
		<section id="showcase">
			  
			 <div class="carousel">

				
				<div class="slide fade">
				  <img src="/bird-197052_640.jpg" alt="bird" style="width:100%;" >
				</div>
				
				<div class="slide fade">
				  <img src="/eagle-1753002_640.jpg" alt="Eagle" style="width:100%;" >
				</div>
				
				<div class="slide fade">
				  <img src="/kite-1119277_640.jpg" alt="Kite" style="width:100%;" >
				</div>
				
				<div class="slide fade">
				  <img src="/owl-2.jpg" alt="owl-2" style="width:100%;" >
				</div>
				 
			 </div>      