<!--// edititem.ejs page.  This page was created by Shane Cunningham and is based on the editproduct.ejs page created by Liam McCabe-->

<% include ../partials/header %>

<section id="contentHolder">
  <div class="container">
    <h1>Welcome to the Edit Item page  </h1> 
        <br>
    
        <div id="newsImg" style="width: 60%;"><img src="/raptor.jpg" alt="newsImg" style="width:100%;"></div> 
        
      <% result.forEach(function(item) { %>   
         
         <form accept-charset="UTF-8" style="" action="/edititem/<%= item.Id %>" method="post" enctype="multipart/form-data" id="uploadForm" ref="uploadForm">    

            <div>
                <label for="name">Name</label>
                    <input name="name" type="text" value="<%= item.Name %>" />
            </div>
             
            <div>
                <label for="image">Uload Image</label>       
                <input type="file" class="button" name="sampleFile" required title="You Must Upload an Image to Continue"/>
            </div>  
                   
            <div> 
                <label for="audio">Audio</label>
                    <select value="<%= item.Audio %>" name="audio">
                         <option>eagle-cry.wav</option>
                         <option>eagle.ogg</option>
                         <option>eagle-cry.wav</option>
                         <option>hawk-dry-v1.wav</option>
                         <option>kestrel.wav</option>
                         <option>owl.wav</option>
                         <option>peregrine-falcon-1.wav</option>
                         <option>peregrine-falcon-2.wav</option>
                         
                    </select> 
            </div>
                    
                <!--<label for="file">Insert Image</label>     -->
                <!-- <input type="file" class="button" type="text" name="image"/>-->
                 
                <!--<label for="file">Insert .MP3/ .WAV/ .OGG File</label>  -->
                <!-- <input type="file" class="button" type="text" name="audioFile"/>-->
            <div>         
                <label for="facts">Facts</label>
                    <textarea name="facts" type="text" style="width:100%; height:50px;" value="<%= item.Facts %>"  maxlength="255"   title=" 255 Characters max" ></textarea>
                    
            </div> 
            
            <br>
            <div>       
                    <button class="button">Edit</button>
            </div>
              </form>
              
               <% }); %>
               
               <br>
    <button class="button"><a href="/items">Back to Content page</a></button>
    
 
    </div>
		  
</section>		  
		 
		  
<% include ../partials/footer %>