<% include ../partials/header %>
		<section id="showcase">
			  
			 <div class="carousel">

				
				<div class="slide fade">
				  <img src="/bird-197052_640.jpg" alt="bird" style="width:100%;" >
				</div>
				
				<div class="slide fade">
				  <img src="/eagle-1753002_640.jpg" alt="Eagle" style="width:100%;" >
				</div>
				
				<div class="slide fade">
				  <img src="/kite-1119277_640.jpg" alt="Kite" style="width:100%;" >
				</div>
				
				<div class="slide fade">
				  <img src="/owl-2.jpg" alt="owl-2" style="width:100%;" >
				</div>
				 
			 </div>  
		 
		  
	
			  <div class="container">
			   <div style="background-image: linear-gradient(180deg,rgba(0, 0, 0, 0.66) 0%,rgba(255,255,255,0.00) 103.52%);">
				<h1>Welcome to the bird app!</h1>
				<p style="text-align:left;">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Donec ornare aliquam ipsum, quis imperdiet massa egestas a. Pellentesque convallis 
				viverra justo, ac commodo dui vehicula non. Praesent sed sem lectus. Sed vel nisi 
				egestas, tempor turpis in, vulputate lorem.</p>
			   </div>
			  </div>
		    
		    
		</section>
		  
 
			
<% include ../partials/footer %>		   
			
		  
		  
		  
		 
		  
