<% include ../partials/header %>

<div class="row">
    <h1>Image Upload Page</h1>
    
    
    <form id="uploadForm" ref="uploadForm" method="post" enctype="multipart/form-data">
        
        <input type="file" class="button" name="sampleFile"/>
        <input type="submit"  value="Upload Image" />
     </form>    
     
    <!--<form id="uploadAudio" ref="uploadAudio" method="post" enctype="multipart/form-data"> -->
    <!--    <input type="file" class="button" name="audioFile"/>-->
    <!--    <input type="submit"  value="Upload Audio" />-->
    <!--</form>     -->
   
    
    
    </div>



<% include ../partials/footer %>